header h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th {
    background-color: #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
    border-bottom:1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }